<h3>
  About Railway
</h3>
<p>
  Indian Railways (reporting mark IR) is a state-owned railway company, responsible for rail transport in India.
  It is owned and operated by the Government of India through the Ministry of Railways. 
  It is fourth largest railway network in the world comprising 119,630 kilometres (74,330 mi) of total track[4] 
  and 92,081 km (57,216 mi) of running track over a route of 66,687 km (41,437 mi) with 7,216 stations at the end of 2015-16.
  [2] In 2015-16, IR carried 8.107 billion passengers annually or more than 22 million passengers a day 
  and 1.101 billion tons of freight annually.[2]Railways were first introduced to India in the year 1853 from Bombay to Thane. 
  In 1951 the systems were nationalised as one unit, the Indian Railways, becoming one of the largest networks in the world.
   
</p>
